.board {
	width: 32rem;
	height: 32rem;
	margin: 1rem;
	justify-content: center;
}
body {
	font-size: 16px;
}
img {
	max-width: 100%;
	max-height: 100%;
}

.SetFen {
	outline: none;
	box-shadow: 3px 4px 0px 0px #e67a73;
	background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
	background-color: #e4685d;
	border-radius: 15px;
	border: 1px solid #ffffff;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
}
.SetFen:hover {
	background: linear-gradient(to bottom, #eb675e 5%, #e4685d 100%);
	background-color: #eb675e;
}
.SetFen:active {
	position: relative;
	top: 2px;
}

.fenInput {
	margin-top: 10px;
	text-align: center;
	padding: 7px;
	width: 550px;
	font-size: 16px;
	border-width: 1px;
	border-color: #ffffff;
	box-shadow: 3px 4px 0px 0px #e67a73;
	background: linear-gradient(to bottom, #e4685d 5%, #eb675e 100%);
	background-color: #e4685d;
	color: transparent;
	border-style: solid;
	border-radius: 15px;
	text-shadow: 0px 0px 0px #ffffff;
}
.fenInput:focus {
	outline: none;
}
.fenInput:active {
	outline: none;
}
