.board {
	width: 32rem;
	height: 32rem;
	margin: 1rem;
	justify-content: center;
}
body {
	font-size: 16px;
	--main-button-color: #e6776d;
	--main-button-gradient: #f37b73;
	--main-button-shadow: #e67a73;
	--background-color: #cc99ec;
	--background-gradient: #7c84f3;
	--main-button-disabled: #e0e0e0;
	--main-button-disabled-gradient: #a8a8a8;
	background: linear-gradient(
		123deg,
		var(--background-color) 0%,
		var(--background-gradient) 100%
	);
}
img {
	max-width: 100%;
	max-height: 100%;
}

.setFenButton {
	outline: none;
	box-shadow: 3px 4px 0px 0px var(--main-button-shadow);
	background: linear-gradient(
		90deg,
		var(--main-button-color) 5%,
		var(main-button-gradient) 100%
	);
	background-color: var(--main-button-gradient);
	border-radius: 15px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #b23e35;
}
.setFenButton:hover {
	background: linear-gradient(
		45deg,
		var(--main-button-gradient) 5%,
		var(--main-button-color) 100%
	);
}
.setFenButton:active {
	position: relative;
	top: 2px;
}

.fenInput {
	margin-top: 10px;
	text-align: center;
	padding: 7px;
	width: 550px;
	font-size: 16px;
	border-width: 1px;
	border-color: white;
	box-shadow: 3px 4px 0px 0px var(--main-button-shadow);
	background: linear-gradient(
		75deg,
		var(--main-button-color) 5%,
		var(--main-button-gradient) 100%
	);
	background-color: var(--main-button-color);
	color: white;
	border-style: solid;
	border-radius: 15px;
	text-shadow: 0px 0px 0px white;
}
.fenInput:focus,
.fenInput:active,
.depthInput:focus,
.depthInput:active {
	outline: none;
}

.setFenButtonDisabled {
	outline: none;
	box-shadow: 3px 4px 0px 0px var(--main-button-disabled-gradient);
	background: linear-gradient(
		75deg,
		var(--main-button-disabled) 5%,
		var(--main-button-disabled-gradient) 100%
	);
	background-color: var(--main-button-disabled);
	border-radius: 15px;
	border: 1px solid white;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 17px;
	padding: 7px 25px;
	text-decoration: none;
	text-shadow: 0px 1px 0px var(--main-button-disabled-gradient);
}
.setFenButtonDisabled:hover {
	background: linear-gradient(
		to bottom,
		var(--main-button-disabled-gradient) 5%,
		var(--main-button-disabled) 100%
	);
	background-color: var(--main-button-disabled-gradient);
}

.depthInput {
	margin-top: 10px;
	text-align: center;
	padding: 7px;
	width: 30px;
	font-size: 16px;
	border-width: 1px;
	border-color: white;
	box-shadow: 3px 4px 0px 0px var(--main-button-shadow);
	background: linear-gradient(
		75deg,
		var(--main-button-color) 5%,
		var(--main-button-gradient) 100%
	);
	background-color: var(--main-button-color);
	color: white;
	border-style: solid;
	border-radius: 15px;
	text-shadow: 0px 0px 0px white;
}
